*{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;

}

.nav_and_signature{

    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgb(83, 83, 83);

}

.nav_bar{
   
    display: flex;
    gap:50px;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    padding-right: 70px;
    padding-top: 32px;
    overflow: none;

}

.signature{

    padding-left: 20px;

}

a{

    color: white;
    text-decoration: none;
    
}

a:visited{

    color: azure;

}












.education{

    display: flex;
    gap: 80px;
    padding: 30px;
    justify-content: center;
    background-image: url(images/education_logo.jpg);
    background-size: auto;

}

.school{

    border: 1px;
    background-color: #214761;
    text-align: center;
    padding: 30px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;

}

.college{

    border: 1px;
    background-color: lightblue;
    text-align: center;
    padding: 30px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;

}

.university{

    border: 1px;
    background-color: rgb(207, 167, 91);
    text-align: center;
    padding: 30px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;

}
















.contact{

    padding-top: 50px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: rgb(85, 84, 84);

}



.personal{

    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;

}


li{

    transition: transform 0.3s;

}

li:hover{

    transform: scale(1.1);

}


address{

    text-align: center;
    padding-top: 15px;

}

.phone{

    padding-left: 42%;
    color: black;

}


.num:hover{

    text-decoration: underline;

}