*{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;

}

.nav_and_signature{

    display: flex;
    justify-content: space-between;
    border: 2px;
    background-color: rgb(83, 83, 83);

}

.nav_bar{
   
    display: flex;
    gap:50px;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    padding-right: 70px;
    padding-top: 34px;
    overflow: none;

}

.signature{

    padding-left: 20px;

}

a{

    color: white;
    text-decoration: none;
}

a:visited{

    color: azure;

}











.skills{

    padding: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    row-gap: 100px;
    background-image: url(images/skill_background.jpg);
    background-size: cover;
    background-position: center;

}

.c{


    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;
    
}


.c:hover{

    transform: scale(1.1);

}

.c_plus{


    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;

}

.c_plus:hover{

    transform: scale(1.1);

}

.dbms{


    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;

}

.dbms:hover{

    transform: scale(1.1);

}

.html{


    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;


}

.html:hover{

    transform: scale(1.1);

}

.css{


    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;

}

.css:hover{

    transform: scale(1.1);

}


.java{

    border: 0.5px solid black;
    box-shadow: 3px grey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #B9ECE6;
    box-shadow: 10px 10px 10px grey;
    transition: transform 0.3s;

}

.java:hover{

    transform: scale(1.1);

}


h3{

    padding-top: 20px;

}











.contact{

    padding-top: 50px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: rgb(85, 84, 84);

}



.personal{

    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;

}


li{

    transition: transform 0.3s;

}

li:hover{

    transform: scale(1.1);

}


address{

    text-align: center;
    padding-top: 15px;

}











@media screen and (max-width: 500px){

    .signature{

        width: 90%;

    }

}


@media screen and (max-width: 890px){
    
    address{

        text-align: center;

    }

}

@media screen and (max-width: 890px){

    .nav_bar{

        justify-content: center;
        flex-direction: row;
        gap: 20px;
        padding-left: 50px;

    }

}

@media screen and (max-width: 890px) {

    .nav_and_signature{

        display: flex;
        flex-direction: column;

    }    

}


@media screen and (max-width: 890px){

    .skills{

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}




