*{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;

}

.nav_and_signature{

    display: flex;
    justify-content: space-between;
    border: 2px;
    background-color: rgb(83, 83, 83);

}

.nav_bar{
   
    display: flex;
    gap:50px;
    text-decoration: none;
    list-style: none;
    justify-content: end;
    padding-right: 70px;
    padding-top: 32px;
    overflow: none;

}

.signature{

    padding-left: 20px;

}

a{

    color: white;
    text-decoration: none;
    
}

a:visited{

    color: azure;

}







.about_cse{

    padding: 30px;
    display: flex;
    gap: 50px;
    background-color: rgb(119, 113, 113);
    color: white;

}

.name_and_cse{

    text-align: center;
    padding-top: 140px;

}

h1{

    color: black;
    font-size: 48px;

}

.img1{

    border: 2px;
    border-radius: 50%;
    padding-top: 10px;

}









.img2{

    border: 2px solid rgb(119, 113, 113);
    border-radius: 50%;

}

.about_me{


    padding: 30px;
    display: flex;
    gap: 50px;
    background-color: rgb(119, 113, 113);
    color:white;
    gap: 50px;
}

h3{

    color: black;
    font-size: 40px;

}

.introduction{

    text-align: center;
    padding-top: 90px;
    

}







.contact{

    padding-top: 50px;
    padding-bottom: 30px;
    gap: 20px;
    background-color: rgb(85, 84, 84);

}



.personal{

    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;

}


li{

    transition: transform 0.3s;

}

li:hover{

    transform: scale(1.1);

}


address{

    text-align: center;
    padding-top: 15px;

}

.phone{

    padding-left: 42%;
    color: black;

}


.num:hover{

    text-decoration: underline;

}




@media screen and (min-width: 200px) and (max-width: 768px) {

    .nav_and_signature{

        width: 100%;
        flex-direction: column;

    }

    .img1{

        max-width: 100%;
        height: auto;

    }


}